<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Announcement Program</title>
  <link rel="stylesheet" href="/Styles/styles.css">
</head>

<body>
  <div class="container">
    <form action="/" method="POST">
      <h1>Announcement Program</h1>
      <input type="text" name="announcement" onclick="displayAnnouncement()" id="announcementInput" placeholder="Type your announcement here" />
      <button>Announce</button>
      <div class="announcement" id="announcementDisplay"></div>
    </form>
  </div>

  <script src="/JavaScript/scripts.js"></script>
</body>

</html>